@import "~react-responsive-modal/styles";

#rpm-handlers {
    margin: 0px;
}

.rpm-renamer {
    h4 {
        margin: 0;
    }

    em {
        display: block;
        font-size: 11px;
        line-height: 13px;

        &:last-child {
            margin-bottom: 5px;
        }
    }

    p {
        font-size: 11px;
        line-height: 13px;
        margin: 0 0 5px;
    }
}

.rpm-popover {
    ul {
        margin: 0;
        padding: 0;
        width: 500px;
        list-style: none;

        &:first-of-type {
            padding-top: 5px;
        }

        li:not(.rpm-section) {
            margin: 0;
            padding: 5px 10px;

            &.rpm-headline {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 10px;
                line-height: 10px;
                border-bottom: 1px solid #e2e2e2;
            }
        }
    }

    .rpm-automatic-box {
        text-align: center;
        padding: 30px 25px !important;

        strong {
            font-size: 18px;
        }

        p {
            margin: 7px 15px;
        }
    }

    .rpm-wrap {
        overflow-wrap: break-word;
        word-wrap: break-word;
    }

    .rpm-anticon-close {
        position: absolute;
        right: 10px;
        top: 18px;
        cursor: pointer;
    }
}

.rpm-clear-overlay {
    z-index: 999999;
}

.rpm-real-utils-bar-pointer .wp-pointer-arrow {
    left: 15px;
}

// Update notice
tr.rpm-update-notice {
    th {
        padding: 0;
    }

    .notice {
        margin: 0 20px 10px 26px;
        border-top: 1px solid #ffb900;
        box-shadow: 4px 4px 4px #ffb9001a, 1px 1px 0px #ffb900;

        p {
            margin: 0;
        }
    }
}
